
  <nav  id="navbar" class="navbar navbar-light" style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img
          src="/assets/logo.jpg"
          class="me-2"
          height="20"
          alt="MDB Logo"
          loading="lazy"
        />
        <small id="logo-karozad" >KAROZAD</small>
      </a>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          class="form-control"
          placeholder="Recherche"
          aria-label="Search"
        />
        <button type="button" class="btn btn-info">Chercher</button>
        
      </form>
    </div>
  </nav>
   
